dify-workflows/faq-auto-response.yml
app:
  description: ''
  icon: face_with_monocle
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: チャットBot・AIエージェントニキ
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.5.6@6937ac6c3f88d0ef5021881b00eab58e0722e1b3cc186087b023688679abd074
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 'APIかぼっち・ロックのこと聞いて

      '
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - ぼっちちゃん
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-1711528709608
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1711528709608'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528770201
      selected: false
      source: '1711528709608'
      sourceHandle: '1711528736549'
      target: '1711528770201'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528768556-1711528802931
      source: '1711528768556'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528815414-1711528835179
      source: '1711528815414'
      sourceHandle: source
      target: '1711528835179'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1711528709608-1711528737066-1760180376260-target
      source: '1711528709608'
      sourceHandle: '1711528737066'
      target: '1760180376260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1760180376260-source-1711528775142-target
      selected: false
      source: '1760180376260'
      sourceHandle: source
      target: '1711528775142'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528736036-1761008544693-target
      source: '1711528709608'
      sourceHandle: '1711528736036'
      target: '1761008544693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: knowledge-retrieval
      id: 1761008544693-source-1711528768556-target
      source: '1761008544693'
      sourceHandle: source
      target: '1711528768556'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: knowledge-retrieval
      id: 1711528770201-source-1761102777721-target
      source: '1711528770201'
      sourceHandle: source
      target: '1761102777721'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1761102777721-source-1711528815414-target
      source: '1761102777721'
      sourceHandle: source
      target: '1711528815414'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables: []
      height: 96
      id: '1711528708197'
      position:
        x: -44.36400063456574
        y: 708.1479999674582
      positionAbsolute:
        x: -44.36400063456574
        y: 708.1479999674582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1711528736036'
          name: 'AIエージェントニキ

            各サービス構築関連'
        - id: '1711528736549'
          name: ぼっちざロック関連
        - id: '1711528737066'
          name: そのほか
        desc: 'Define the classification conditions of user questions, LLM can define
          how the conversation progresses based on the classification description. '
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
      height: 300
      id: '1711528709608'
      position:
        x: 251.14707852099843
        y: 720.2713177348008
      positionAbsolute:
        x: 251.14707852099843
        y: 720.2713177348008
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - waWn2xvevM97V4DjvZdVch8IUs3Gryp99etqFNPAHyV436HV8nIFXLFVSmjr619E
        desc: 'AI情報読み取り '
        metadata_filtering_mode: automatic
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 'Knowledge Retrieval '
        type: knowledge-retrieval
      dragging: false
      height: 118
      id: '1711528768556'
      position:
        x: 945.5
        y: 736.9065807693868
      positionAbsolute:
        x: 945.5
        y: 736.9065807693868
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - lQ9U60ekWCpfF3BwhEgAv11j1W4xRutFAJTNhhMbr5oXrQxRtw0CYazIhequsBaf
        desc: 説明読み取り
        metadata_filtering_mode: automatic
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: single
        selected: true
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 'Knowledge Retrieval '
        type: knowledge-retrieval
      dragging: false
      height: 118
      id: '1711528770201'
      position:
        x: 645.5
        y: 868.6428571428572
      positionAbsolute:
        x: 645.5
        y: 868.6428571428572
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1760180376260.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1711528775142'
      position:
        x: 1011.076000423044
        y: 998.5391192383918
      positionAbsolute:
        x: 1011.076000423044
        y: 998.5391192383918
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1761008544693'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 79e1b044-6876-49b2-a307-c655ae83a6ec
          role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            And answer according to the language of the user''s question.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 1228.5
        y: 736.9065807693868
      positionAbsolute:
        x: 1228.5
        y: 736.9065807693868
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1761102777721'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 24b42fb0-fc4b-4ab2-a404-c0abe26568f6
          role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            And answer according to the language of the user''s question.'
        selected: false
        title: 'LLM '
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528815414'
      position:
        x: 1228.5
        y: 868.6428571428572
      positionAbsolute:
        x: 1228.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 1511.5
        y: 736.9065807693868
      positionAbsolute:
        x: 1511.5
        y: 736.9065807693868
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528815414.text#}}'
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables:
        - value_selector:
          - '1711528815414'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528835179'
      position:
        x: 1511.5
        y: 868.6428571428572
      positionAbsolute:
        x: 1511.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 0135a5bc-487e-4099-86da-d8303d906f04
          role: system
          text: '言ってきたことがなんなのか

            聞きたいこと聞いて'
        - id: c1966355-777a-488e-94e0-69a23266c6a3
          role: user
          text: '{{#sys.user_id#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1760180376260'
      position:
        x: 645.5
        y: 998.5391192383918
      positionAbsolute:
        x: 645.5
        y: 998.5391192383918
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - waWn2xvevM97V4DjvZdVch8IUs3Gryp99etqFNPAHyV436HV8nIFXLFVSmjr619E
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
            weight_type: customized
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知識検索 3
        type: knowledge-retrieval
      height: 90
      id: '1761008544693'
      position:
        x: 645.5
        y: 736.9065807693868
      positionAbsolute:
        x: 645.5
        y: 736.9065807693868
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - lQ9U60ekWCpfF3BwhEgAv11j1W4xRutFAJTNhhMbr5oXrQxRtw0CYazIhequsBaf
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知識検索 4
        type: knowledge-retrieval
      height: 90
      id: '1761102777721'
      position:
        x: 928.5
        y: 868.6428571428572
      positionAbsolute:
        x: 928.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -198.9204498460433
      y: -298.78392807293375
      zoom: 0.6468272354073004
  rag_pipeline_variables: []
